body {
  margin: 0;
  padding: 0;
  text-align: center;
  line-height: 1.5;
}

h2 {
  font-family: 'Montserrat', sans-serif;
  font-size: 2.5rem;
  font-weight: normal;
}

h4 {
  text-align: center;
}

.resume-spans {
  color: #D9534F;
  font-weight: 900;
}

.click-here {
  color: #D9534F;
  text-decoration: underline;
}

.click-here:hover {
  color: #77BFA7;
}

.container-fluid {
  padding: 2% 4% 4%;
}

.navbar {
  padding-left: 0;
  padding-right: 0;
}

.nav-item {
  padding-right: 15px;
}

.nav-item-last{
  padding-right: 0;
}

.logo {
  font-size: 2.5rem;
  font-family: 'Sacramento', cursive;
  padding-left: 0;
}

.welcome-images-section {
  background-color: #77BFA7;
  padding-bottom: 5%;
}

.welcome-images-wrap {
  display: flex;
  justify-content: center;
  align-items: center;
}

.welcome-img {
  width: 16.25%;
}

.welcome-img-big {
  width: 35%;
}

.pixel-art-me {
  width: 125%;
}

.pixel-art-wraper {
  display: flex;
  justify-content: center;
  align-items: center;
}

.resume-wraper {
  margin: 0;
  text-align: left;
}

.resume-p{
  font-family: 'Montserrat', sans-serif;
  padding-left: 1%;
  text-align: left;
  color: #006E7F;
}

.resume-hello-img {
  width: 20%;
}

.skill-explanation-wraper {
    background-color: #FFECC7;
    margin: 0;
}

.my-skills-heading {
  color: #FFECC7;
  font-family: 'Sacramento', cursive;
  font-size: 4.5rem;
  padding-top: 3%;
}

.col-6 {
  padding: 0px;
  margin: 0px;
}

.card-col{
  display: flex;
  justify-content: center;
  align-items: center;
  width: auto;
}

.card {
  display: flex;
  justify-content: space-around;
  align-items: center;
  background-color: #D9534F;
  border: none;
  width: max-content;
}

.card-text {
  color: #FFECC7;
  font-family: 'Montserrat', sans-serif;
  font-weight: bold;
}

.skill-images {
  width: 50%;
  border: 20px solid #FFECC7;
  background-color: #FFECC7;
  border-radius: 18% 9%;
}

.second-skill-row {
  padding-top: 2%
}

.skills-exp-heading {
  color: #D9534F;
  font-family: 'Sacramento', cursive;
  font-size: 4.5rem;
  padding-bottom: 3%;
  padding-top: 7%;
}

.skills-exp-div {
  font-family: 'Montserrat', sans-serif;
  text-align: left;
  color: #006E7F;
  font-size: 1rem;
}

.machine-pixel-art {
  width: 100%;
}

.list-group-item {
  font-size: 1.2rem;
  text-align: center;
  font-family: 'Montserrat', sans-serif;
  font-weight: bold;
  margin-top: 5%;
  color: #FFECC7;
  background-color: #77BFA7;
  border: 5px solid #FFECC7;
  border-radius: 5px;
}

.list-group-item:hover {
  background-color: #77BFA7;
  border: 5px solid #FFECC7;
  color: #006E7F;
}

.list-group-item.active {
  background-color: #006E7F;
  border: 5px solid #006E7F;
  color: #FFECC7;
}

.tab-content {
  font-family: 'Montserrat', sans-serif;
  text-align: left;
  margin-top: 5%;
  margin-left: 10%;
  width: 80%;
  color: #006E7F;
  background-color: #FFECC7;
  border: 30px solid #FFECC7;
  border-radius: 50px 15px;
}

.contact-me-heading {
  color: #D9534F;
  font-family: 'Sacramento', cursive;
  font-size: 4.5rem;
  padding-top: 2%;
  padding-bottom: 3%;
}

.social-icons-div {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}

.social-icons{
  width: 30%
}

.font-awesome-end-icons {
  padding: 6% 0 2% 3%;
  text-align: center;
  color: #006E7F;
}

.copyright {
  margin-bottom: 0;
  color: #006E7F;
}

#welcome {
  background-color: #77BFA7;
  margin: 0;
  }

#my-skills {
  background-color: #D9534F;
  margin: 0;
  text-align: center;
}

#resume {
  background-color: #FFECC7;
  padding-bottom: 4%
}

#projects {
  background-color: #77BFA7;
}

#contact-me {
  background-color: #FFECC7;
  padding-left: 7%;
  padding-right: 7%;
}

@media (max-width: 576px) {
  .pixel-art-me {
    width: 50%
  }
}

@media (max-width: 1000px) {
  .resume-p{
    font-size: 0.8rem;
  }

  .skill-images {
    border: 8px solid #FFECC7;
  }

  .resume-exp-div{
    font-size: 0.8rem;
  }

  .my-skills-heading {
    font-size: 2.2rem;
  }

  .nav-item {
    padding-right: 0;
  }

  .skills-exp-heading {
    font-size: 2.2rem;
  }

  .machine-pixel-art {
    width: 40%
  }

  .card-text {
    font-size: 0.8rem;
  }

  .contact-me-heading {
    font-size: 2.2rem;
  }

  .skills-exp-div {
    font-size: 0.8rem;
  }

  .list-group-item {
    font-size: 0.8rem;
    margin-top: 3%;
  }

  .tab-content {
    font-size: 0.8rem;
    margin-top: %3;
  }

  #projects {
    padding: 4% 2%;
  }

  .copyright {
    font-size: 0.8rem;
  }

  .font-awesome-end-icons{
    font-size: 0.8rem;
  }
}
